:root {
  --text-color: #444;
  /* dark gray/black */
  --main-color-dark: #2a241a;

  /* Pizza: Medium Yellow */

  --heading-2-color: #ce9518;
  --heading-2-light: #ecc05d;
  --heading-2-extra-light: #f3d28a;

  /* Lynch*/
  --heading-3-color: #70839e;

  /* Wild Blue Yonder */
  --accent-color: #819ab7;
  --accent-color-light: #cbd8e7;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

h1 {
  color: var(--main-color-dark);
  font-weight: 200;
  font-family: "Libre Baskerville", serif;
}

h2 {
  color: var(--heading-2-color);
  font-weight: 200;
}
h3 {
  color: var(--heading-3-color);
  font-weight: 200;
  font-family: "Libre Baskerville", serif;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 1rem;
}

.inner-article {
  max-width: 50rem;
}
.inner-article h2 {
  text-align: center;
  font-size: 3rem;
}

.bg-image {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    ),
    var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
}

.bg-1 {
  --bg-image: url(../images/NEW-1300px-Crowd.jpg);
}

.bg-2 {
  --bg-image: url(../images/eric-krull-fi3_lDi3qPE-unsplash.jpg);
}

.bg-image h2 {
  color: #fff;
}

.bg-full-height {
  height: 100vh;
}

h1.bg-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: clamp(2.1rem, 8vw, 5.6rem);
  line-height: 1;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 0 1rem 1em;
}

.main-menu .menu-icon {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu svg {
  stroke: #444;
  stroke-width: 4px;
  stroke-linecap: round;
  padding: 12px;
}

.main-menu svg line {
  transform-origin: center;
  transition: transform 200ms ease;
}

.main-menu svg line:first-child {
  transform: translateY(8px);
}

.main-menu svg line:last-child {
  transform: translateY(-8px);
}

.menu-show .menu-icon {
  background-color: transparent;
}

.menu-show svg line {
  stroke: #444;
  stroke-width: 5px;
}

.menu-show svg line:first-child {
  transform: rotate(135deg);
}

.menu-show svg line:last-child {
  transform: rotate(-135deg);
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: black;
  transform: translateX(-100vw);
  transition: transform 400ms;
  z-index: 1;
}

.menu-show nav {
  transform: translateX(0);
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 80rem;
}

nav a {
  display: block;
  padding: 1rem;
  font-size: 1.4rem;
}

nav a:not([href]) {
  color: var(--main-color-dark);
}

nav a[href]:hover {
  color: var(--heading-2-light);
}

.main-h1 {
  color: var(--main-color-dark);
  font-size: 4rem;
  font-weight: 900;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  color: #fff;
  text-shadow: 0 0 30px rgb(0 0 0 / 70%);
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  padding: 0 2rem;

  transform: translate(-50%, -70%);
}

h1 {
  color: var(--main-color-dark);
  font-size: 4rem;
  font-weight: 900;
  top: 50%;
  left: 50%;
  color: #444;
  text-shadow: 0 0 30px rgba(134, 134, 134, 0.7);
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  padding: 0 2rem;
}

article {
  background-color: #fff;
}

.iframe {
  display: block;
  margin: 0 auto;
}

iframe {
  width: 368px;
  height: 207px;
}

aside article {
  background-color: var(--accent-color-light);
  margin-bottom: 1rem;
}
aside {
  text-align: center;
  color: #444;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0rem, 3rem;
}

aside p {
  max-width: 80rem;
}

/* figure {
  margin: 4rem 0;
} */

/* .article-last {
  margin-bottom: 0;
} */

/* aside h2 {
  color: #444;
} */
/* margin: 0; */
/* main {
  padding: 0rem;
  margin-bottom: 0;
} */
footer {
  background-color: var(--accent-color);
  color: #444;
  font-family: "Libre Baskerville", serif;
  font-size: 2em;
  margin-top: 0;
  padding: 3rem 1rem;
}

footer p {
  margin: 0 auto;
  font-family: "Libre Baskerville", serif;
  font-size: medium;
  max-width: fit-content;
}

a.button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  border-bottom: 2px solid transparent;
  padding-bottom: 12px;
  user-select: none;
}
a:hover {
  text-decoration: underline;
}

a:not([href]):hover {
  text-decoration: none;
}

a:link {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: var(--text-color);
}

a:active,
a:focus {
  background-color: transparent;
  color: #444;
}

#SVG {
  text-align: left;
}

.button:hover {
  background-color: var(transparent);
  /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3); */
  text-decoration: none;
  color: var(--heading-3-color);
}

.button:active,
.button:focus {
  background-color: var(--heading-2-extra-light);
  box-shadow: 0 0 0 2px var(--main-color-dark) inset;
  color: var(--main-color-dark);
}

.form img {
  width: 200px;
}
.rotate {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
}
.rotate:hover {
  cursor: pointer;
  background-color: transparent;
  animation: rotation 5s infinite linear;
}

.button_container {
  display: flex;
  justify-content: space-evenly;
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

article {
  background-color: #fff;
}

.first-article {
  margin-top: calc(100vh - 3.5rem);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem, 1rem;
}

.cards svg {
  width: clamp(50px, 30%, 90px);
  height: auto;

  stroke: #eee;
  stroke-width: 2;

  transition: stroke 300ms;
}

.cards .card:hover svg {
  stroke: #444;
}
.cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 8rem 0.5rem 2rem;
}

.cards .card:nth-of-type(odd) {
  background: linear-gradient(45deg, #5b6a80, #a1c1e6);
}

.cards .card:nth-of-type(even) {
  background: linear-gradient(45deg, #ce9518, #f3d28a);
}

.cards h2 {
  color: #444;
  margin: 2rem 0;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cards .hover-button {
  align-self: stretch;

  text-align: center;
  color: #fff;
  cursor: pointer;

  padding: 1rem;
  margin: 0 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cards .hover-button span {
  font-family: Roboto;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.cards .card:nth-of-type(odd) .hover-button {
  background: linear-gradient(45deg, #5b6a80, #a1c1e6);
}

.cards .card:nth-of-type(even) .hover-button {
  background: linear-gradient(45deg, #ce9518, #f3d28a);
}

.cards .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;

  padding: 2rem 1rem;
  transform: scale(0);
  transition: transform 200ms;
  transform-origin: 50% 90%;
}

.cards .card:nth-of-type(odd) .overlay {
  background: linear-gradient(45deg, #5b6a80, #a1c1e6);
}

.cards .card:nth-of-type(even) .overlay {
  background: linear-gradient(45deg, #ce9518, #f3d28a);
}

.cards .hover-button:hover .overlay {
  transform: scale(1);
  transition: transform 400ms;
}

.cards .content {
  opacity: 0;
  transition: opacity 200ms 500ms;
}

.cards .hover-button:hover .content {
  opacity: 1;
}

.cards .overlay h2 {
  font-family: "Libre Baskerville", serif;
  color: #fff;
  text-transform: none;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
}

.cards .overlay p {
  color: #444;
  margin: 1rem 1rem;
  padding-top: 1rem;
  line-height: 1.2;
  text-align: center;
}

.form body {
  background: #000;
}

.form h1 {
  padding-top: 10rem;
}

.examples h1 {
  padding-top: 2rem;
}

/* #loader {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
} */

.examples .button:hover {
  background-color: transparent;
  box-shadow: none;
}

#loader div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: var(--heading-2-color);
}

#loader div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#loader div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#loader div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#loader div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#loader div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#loader div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    right: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    right: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    right: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    right: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    right: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    right: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    right: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    right: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

.container .cards .content h2 {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

@media (min-width: 500px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards .card {
    flex: 1 1 40%;
  }
}

@media (min-width: 850px) {
  .cards {
    flex-wrap: nowrap;
    margin-bottom: 3rem;
  }
}

@media (min-width: 601px) {
  /* .panel {
    flex-direction: row;
  }

  .panel .text-wrapper {
    flex: 1 1 60%;
  }

  .panel .image-wrapper {
    flex: 1 1 40%;
  }

  .panel h2 {
    margin-top: 0;
  } */

  .main-menu .menu-icon {
    display: none;
  }
  /* COPIED NAV CSS */
  .hero {
    margin-bottom: 0;
  }

  nav {
    position: static;
    display: block;
    background-color: transparent;
    margin: 2rem 1rem 2rem;
    transform: none;
    transition: none;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;

    max-width: 60rem;
  }

  nav a {
    display: block;
    padding: 0.5rem;
    font-size: 1.4rem;

    color: var(--accent-color);
  }

  nav a:not([href]) {
    color: var(--accent-color);
  }

  nav a::after {
    content: "";
    display: block;
    width: calc(100% + 12px);
    height: 3px;
    margin-left: -6px;
    margin-top: 6px;
    background-color: var(--heading-2-light);
    transform: scale(0);
    transition: transform 200ms ease-in, color 300ms ease-in;
    transform-origin: right;
  }

  nav a[href]:hover {
    color: var(--heading-2-light);
  }

  nav a[href]:hover::after {
    transform: scale(1);
    transform-origin: left;
  }
}
.main-menu {
  max-height: 8rem;
  /* background-color: var(--heading-3-color); */
  background-color: var(--heading-3-color);
}

.headphones-svg {
  display: none;
}
