:root {
  --text-color: #444;
  /* dark gray/black */
  --main-color-dark: #2a241a;

  /* Pizza: Medium Yellow */

  --heading-2-color: #ce9518;
  --heading-2-light: #ecc05d;
  --heading-2-extra-light: #f3d28a;

  /* Lynch*/
  --heading-3-color: #70839e;

  /* Wild Blue Yonder */
  --accent-color: #819ab7;
  --accent-color-light: #cbd8e7;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

h1 {
  color: var(--main-color-dark);
  font-weight: 200;
  /* margin: 0 auto;
  max-width: 50rem; */
  font-family: "Libre Baskerville", serif;
}

h2 {
  color: var(--heading-2-color);
  /* font-size: 2.5rem;
  padding: 2rem 2rem;
  text-align: center; */
  font-weight: 200;
}
h3 {
  color: var(--heading-3-color);
  /* font-size: 2rem; */
  font-weight: 200;
  /* padding: 2rem 2rem;
  line-height: 1.2;
  max-width: 50rem;
  margin: 2em 0 0.5em; */
  font-family: "Libre Baskerville", serif;
}

/* p,
dt,
dd {
  padding: 0 2rem 1rem;
} */
article {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 1rem;
}

.inner-article {
  max-width: 50rem;
}

.bg-image {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    ),
    var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
}

.bg-1 {
  --bg-image: url(../images/NEW-1300px-Crowd.jpg);
}

.bg-2 {
  --bg-image: url(../images/eric-krull-fi3_lDi3qPE-unsplash.jpg);
}

.bg-image h2 {
  color: #fff;
}

.bg-full-height {
  height: 100vh;
}

h1.bg-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* clamp(min size, scaling size, max size) */
  font-size: clamp(2.1rem, 8vw, 5.6rem);
  line-height: 1;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 0 1rem 1em;
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #000, transparent);
  color: #fff;
  padding: 20px 2rem 40px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header li {
  display: inline-block;
}

.main-h1 {
  color: var(--main-color-dark);
  font-size: 4rem;
  font-weight: 900;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  color: #fff;
  text-shadow: 0 0 30px rgb(0 0 0 / 70%);
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  padding: 0 2rem;

  transform: translate(-50%, -70%);
}

h1 {
  color: var(--main-color-dark);
  font-size: 4rem;
  font-weight: 900;
  top: 50%;
  left: 50%;
  color: #444;
  text-shadow: 0 0 30px rgba(134, 134, 134, 0.7);
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  padding: 0 2rem;
}

article {
  background-color: #fff;
}

.iframe {
  display: block;
  margin: 0 auto;
}

iframe {
  width: 368px;
  height: 207px;
}

/* aside {
  background-color: var(--accent-color-light);
  text-align: center;
  color: #444;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0rem, 3rem;
} */

/* figure {
  margin: 4rem 0;
} */

/* .article-last {
  margin-bottom: 0;
} */

/* aside h2 {
  color: #444;
} */
/* margin: 0; */
/* main {
  padding: 0rem;
  margin-bottom: 0;
} */
footer {
  background-color: var(--accent-color);
  color: #444;
  font-family: "Libre Baskerville", serif;
  font-size: 2em;
  margin-top: 0;
  padding: 3rem 1rem;
}

footer p {
  margin: 0 auto;
  font-family: "Libre Baskerville", serif;
  font-size: medium;
  max-width: fit-content;
}

a.button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  border-bottom: 2px solid transparent;
  padding-bottom: 12px;
  user-select: none;
}
a:hover {
  text-decoration: underline;
}

a:not([href]):hover {
  text-decoration: none;
}

a:link {
  color: var(--heading-3-color);
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: black;
}

a:active,
a:focus {
  background-color: var(--heading-2-light);
  color: #444;
}

#SVG {
  text-align: left;
}

.button:hover {
  background-color: var(--heading-2-extra-light);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.button:active,
.button:focus {
  background-color: var(--heading-2-extra-light);
  box-shadow: 0 0 0 2px var(--main-color-dark) inset;
  color: var(--main-color-dark);
}

.form img {
  width: 200px;
}
.rotate {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
}
.rotate:hover {
  cursor: pointer;
  background-color: transparent;
  animation: rotation 5s infinite linear;
}

.button_container {
  display: flex;
  justify-content: space-evenly;
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

article {
  background-color: #fff;
}

.first-article {
  margin-top: calc(100vh - 3.5rem);
}

/* CARDS AND CONTAINERS ADDED AFTER FEB 21 DUE DATE */

.cards {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  flex-wrap: wrap;
}
.container {
  position: relative;
  width: 100vw;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 40px;
  display: block;
  justify-content: center;
}
.card-div {
  overflow: hidden;
}
.container .cards {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.container .cards:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  widows: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 20;
  pointer-events: none;
}
.container .cards:nth-child(1) {
  background: linear-gradient(45deg, #5b6a80, #a1c1e6);
}
.container .cards:nth-child(1) .overlay {
  background: linear-gradient(45deg, #5b6a80, #a1c1e6);
}

.container .cards:nth-child(2) {
  background: linear-gradient(45deg, #ce9518, #f3d28a);
}
.container .cards:nth-child(2) .overlay {
  background: linear-gradient(45deg, #ce9518, #f3d28a);
}

.container .cards:nth-child(3) {
  background: linear-gradient(45deg, #5b6a80, #a1c1e6);
}
.container .cards:nth-child(3) .overlay {
  background: linear-gradient(45deg, #5b6a80, #a1c1e6);
}

.container .cards:nth-child(4) {
  background: linear-gradient(45deg, #ce9518, #f3d28a);
}
.container .cards:nth-child(4) .overlay {
  background: linear-gradient(45deg, #ce9518, #f3d28a);
}
.container .cards .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .cards .imgBx h2 {
  margin: 10px 0 0;
  padding: 0;
  color: #444;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.container .cards .overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: 50px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 100;
  transition: 0.5s;
}
.container .cards .overlay:hover {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  opacity: 1;
  border-radius: 0;
}
.container .cards .overlay:before {
  content: "Hover to Read";
  font-family: "Libre Baskerville", serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0.5s;
}
.container .cards .overlay:hover:before {
  display: none;
  transition-delay: 0s;
}
.container .cards .content {
  padding: 20px;
  width: 280px;
  height: 380px;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0s;
  color: #fff;
}
.container .cards .overlay:hover ~ .content {
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
  transition-delay: 0.5s;
}
.container .cards .content h2 {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.45);
  text-align: center;
  font-size: 28px;
  margin: 0;
  padding: 5px 0;
}
.container .cards .content p {
  margin: 0;
  text-align: center;
  padding: 50px 0 5px 0;
  font-size: 16px;
}

.form body {
  background: #000;
}

.form h1 {
  padding-top: 10rem;
}

.examples h1 {
  padding-top: 10rem;
}

#loader {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#loader div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: var(--heading-2-color);
}

#loader div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#loader div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#loader div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#loader div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#loader div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#loader div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    right: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    right: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    right: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    right: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    right: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    right: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }
  35% {
    right: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    right: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    right: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

.container .cards .content h2 {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}
